* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .logo span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }

  .logo img{
    vertical-align:bottom;
    padding-left: 20px;
    padding-top: 10px;
  }

  .contenitore{
    margin: 0 auto;
    height: 60px;
  }

 